<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center welcome">
    <h1>Meet New Furry Friends. Learn. Explore.</h1>
    <p>
      Create a profile for your pet and share your experiences with the world!
    </p>
    <hr />
    
      <div class="placeholder-profile" />
      <div class="pull-right">
        <h2>Get Started!</h2>
        <div class="arrow" />
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
      </div
    
  </div>
  <div class="clear">
  </div>
  <div class="stream">
  </div>
  
<% end %>