<% if signed_in? %>
  <div class="lolsauce">
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="span7">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center welcome">
    <h1>Meet New Furry Friends. Learn. Explore.</h1>
    <p>
      Create a profile for your pet and share your experiences with the world!
    </p>
    <hr />
    
      <div class="placeholder-profile" />
      <div class="pull-right" style="width:40%">
	  <h3>RECENT ACTIVITY</h3>
	  <ol class="microposts">
	  <%= render partial: 'shared/micropost', collection: @microposts %>
	  </ol>
      </div
    
  </div>

  <div class="clear">
  </div>
  
<% end %>
